@layer components {
    .page-block__container {
        --page-block-padding-block: theme(size.6);
        padding-block: var(--page-block-padding-block);

        @screen md {
            --page-block-padding-block: theme(size.8);
        }
    }

    .page-block__inner {
        @apply max-w-screen-md;
        @apply mx-auto;
        @apply px-5;
    }
}
