/* ================================================================================*/
/* Base: Typography ===============================================================*/
/* ================================================================================*/
/* Styles for the default global typography =======================================*/

@layer base {

  @property --offset {
    syntax: '<length>';
    inherits: false;
    initial-value: 1px;
  }

  :root {
    @apply text-[16px];
  }

  /* Display ========================================================================*/
  .d1 {
    @apply text-d1;
    @apply font-ivypresto-headline;
  }

  .d2 {
    @apply text-d2;
    @apply font-ivypresto-headline;
  }

  .d3 {
    @apply text-d3;
    @apply font-ivypresto-headline;
  }

  .d4 {
    @apply text-d4;
    @apply font-ivypresto-headline;
  }

  .d5 {
    @apply text-d5;
    @apply font-questa-sans;
    @apply uppercase;
  }

  .d6 {
    @apply text-d6;
    @apply font-ivypresto-headline;
  }

  /* Body ========================================================================*/
  .b1 {
    @apply text-b1;
    @apply font-dm-sans;
  }

  /* Body ========================================================================*/
  .formlabel {
    @apply text-formlabel;
    @apply font-questa-sans;
    @apply uppercase;
  }

  /* Defaults =======================================================================*/

  /* Headings =====================*/

  /* h1 */
  h1 {
    @apply text-balance;
    @apply d1;
  }

  /* h2 */
  h2 {
    @apply text-balance;
    @apply d2;
  }

  /* h3 */
  h3 {
    @apply text-balance;
    @apply d3;
  }

  /* h4 */
  h4 {
    @apply text-balance;
    @apply d4;
  }

  /* h5 */
  h5 {
    @apply text-balance;
    @apply d5;
  }

  /* h6 */
  h6 {
    @apply text-balance;
    @apply d6;
  }

  /* Body =========================*/
  body {
    @apply b1 text-pretty;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Links ======================= */
  a {
    &:not([class]) {
      transition-timing-function: ease-in-out;
      @apply inline-block;
      text-underline-offset: var(--offset, 1px);
      text-decoration: underline;
      text-decoration-color: black;
      transition: --offset 300ms, text-decoration-color 300ms;

      &:active, &:focus-visible, &:hover {
        --offset: 0.3125rem;
        text-decoration-color: theme(colors.myTeal);
        text-decoration-thickness: 0.1875rem;
      }
    }
  }

  @supports not (background: paint(something)) {
    a {
      &:not([class]) {
        transition: text-underline-offset 300ms, text-decoration-color 300ms;

        &:active,
        &:focus-visible,
        &:hover {
          text-underline-offset: 0.3125rem;
        }
      }

    }
  }

  /* Formatting ===================*/
  p {
    @apply my-4;
    @apply first:mt-0;
    @apply last:mb-0;

    strong {
      @apply font-bold;
    }

    u {
      @apply underline;
    }

    i {
      @apply italic;
    }
  }

  address {
    @apply not-italic;
  }
}

@layer utilities {
  :root {
    --tw-ring-color: theme(colors.myTeal);
  }

  [type='text']:focus,
  input:where(:not([type])):focus,
  [type='email']:focus,
  [type='url']:focus,
  [type='password']:focus,
  [type='number']:focus,
  [type='date']:focus,
  [type='datetime-local']:focus,
  [type='month']:focus,
  [type='search']:focus,
  [type='tel']:focus,
  [type='time']:focus,
  [type='week']:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus,
  a:focus,
  [tabindex="0"]:focus,
  button:focus,
  input:focus,
  select:focus,
  textarea:focus {
    --tw-ring-color: theme(colors.myTeal);
    --tw-ring-offset-color: theme(colors.myTeal);
    border-color: theme(colors.myTeal);
  }

  [type='text']:focus-visible,
  input:where(:not([type])):focus-visible,
  [type='email']:focus-visible,
  [type='url']:focus-visible,
  [type='password']:focus-visible,
  [type='number']:focus-visible,
  [type='date']:focus-visible,
  [type='datetime-local']:focus-visible,
  [type='month']:focus-visible,
  [type='search']:focus-visible,
  [type='tel']:focus-visible,
  [type='time']:focus-visible,
  [type='week']:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible,
  a:focus-visible,
  [tabindex="0"]:focus-visible,
  button:focus-visible,
  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible {
    outline-color: theme(colors.myTeal);
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 0;
  }

}
