.site-header {}

.site-header__container {
    @apply page-block__container;
}

.site-header__content {}

.site-header__inner {
    @apply page-block__inner;
}

.site-header__inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo {
    svg {
        @apply transition-all;
        @apply duration-300;
        transform: rotateY(180deg);
        height: 30px;
    }

    &:active, &:focus-visible, &:hover {
        svg {
            transform: rotateY(0deg);
        }
    }
}
