---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tags Index";
---
<BaseLayout pageTitle={pageTitle}>
    <ul class="blog-tags__list">{tags.map((tag) => <li class="blog-tag__list-item"><a class="blog-tag__link" href={`/tags/${tag}`}>{tag}</a></li>)}</ul>
</BaseLayout>
