---
import BaseLayout from '../layouts/BaseLayout.astro';
const introTitle = "About Mel";
const introSubtitle = "Mel, Melissa, just not Melanie";
---
<BaseLayout introTitle={introTitle} introSubtitle={introSubtitle}>
  <div>more about content here</div>
</BaseLayout>
