---
import Accordion from '../components/Accordion.vue';

const faqHeading = "Fun facts";

const faqItems = [
    {
        title: "Strengths",
        introText: `<i>According to <a href="https://www.gallup.com/cliftonstrengths/en/" target="_blank" rel="external noopener noreferrer">Gallup's ClintonStrengths</a></i>`,
        listContent: [
            "Achiever",
            "Discipline",
            "Analytical",
            "Consistency",
            "Strategic"
        ]
    },
    {
        title: "Travel",
        introText: `A non-comprehensive list of places I've been (and enjoyed).`,
        listContent: [
            "Sedona, AZ",
            "Seattle & the San Juan Islands, WA",
            "Denver, CO",
            "Zion, UT",
            "Charleston, SC",
            "Savannah, GA",
            "San Francisco, CA",
            "Hocking Hills, OH",
            "Grand Marais, MI",
            "Minneapolis, MN",
            "Cheboygan, WI",
            "Chicago, IL (currently)",
            "New River, WV",
            "Naples, and Captiva & Sanibel Islands, FL",
        ]
    },
    {
        title: "Facts",
        listContent: [
            "I grew up playing softball, and played at Hope College.",
            "The reason behind the little bee in my logo: Melissa (Μελίσσα): In Greek, it means 'bee.' It comes from meli (μέλι), meaning 'honey'. The name Melissa was used in Greek mythology and ancient culture to refer to a nymph who discovered how to collect honey or a priestess of Demeter associated with bees.",
            "I was born in Washington, and grew up in Michigan.",
            "I’m a dog person who owns two cats.",
            "A summarization of my childhood: Pokemon, Animal Crossing, Harvest Moon, WoW, and Sonic Adventure Battle 2.",
            "Favorite foods: Anything chocolate, dark roast coffee, bananas, and peanut butter.",
            "Favorite meals: Alaskan King Crab legs, followed by any other seafood, and sushi. But, generally speaking, if you put food in front of me, I will consume (all of) it.",
            "My favorite kitchen appliance is, without competition, my Ninja Creami.",
            "I'm an avid runner and fitness fanatic.",
            "I’ve been with my high-school sweetheart, Matt, since 2011 (and counting!).",
        ]
    },
    {
        title: "Books",
        introText: 'Follow me on <a href="https://www.goodreads.com/melissabazany" target="_blank" rel="noopener noreferrer">Goodreads!</a>',
        listContent: [
            "Four Thousand Weeks - Oliver Burkeman",
            "Think Again - Adam Grant",
            "Atomic Habits - James Clear",
            "Outliers: The Story of Success - Malcolm Gladwell",
            "The Power of Your Subconscious Mind - Dr. Joseph Murphy",
            "Running Rewired: Reinvent Your Run for Stability, Strength, and Speed -Jay Dicharry",
            "Build the Life You Want: The Art and Science of Getting Happier - Arthur C. Brooks",
            "Humility Rules: Saint Benedict's Twelve-Step Guide to Genuine Self-Esteem - J. Augustine Wetta",
            "The Gifts of Imperfection - Brené Brown",
            "The Four Agreements - Miguel Ruiz",
            "Why Has Nobody Told Me This Before?",
            "Animal Farm - George Orwell",
            "Jesus and Buddha: The Parallel Sayings",
            "Humility Rules: Saint Benedict's Twelve-Step Guide to Genuine Self-Esteem - J. Augustine Wetta",
            "The Glass Castle - Jeannette Walls",
            "Where the Crawdads Sing - Delia Owens",
            "The Great Gatsby - F. Scott Fitzgerald",
            "Fahrenheit 451 - Ray Bradbury",
        ]
    },
    {
        title: "Articles",
        listContent: [
            `<a href="https://www.sahilbloom.com/newsletter/the-most-powerful-life-hacks-ive-found">The Most Powerful Life Hacks I've Found | Sahil Bloom</a>`,
            `<a href="https://nabeelqu.co/principles">Principles | Nabeel S. Qureshi</a>`,
            `<a href="https://www.sahilbloom.com/newsletter/its-later-than-you-think">It's Later Than You Think | Sahil Bloom</a>`,
            `<a href="https://kk.org/thetechnium/101-additional-advices/">101 Additional Advices | Kevin Kelly</a>`,
        ]
    },
    {
        title: "Podcasts",
        introText: 'Check out my <a href="https://open.spotify.com/playlist/10GtMbowXoERIWKQwsAAiU?si=BRyx1YEgQryNlvOz54TKsA">Worthwhile Podcasts playlist</a> on Spotify.'
    }
]
---
<div class="b-faq">
    <div class="b-faq__container">
        <div class="b-faq__content">
            <div class="b-faq__inner">
                <div class="b-faq__inner-content">
                    <div class="b-faq__text-item">
                        <div class="b-faq__heading">{faqHeading}</div>
                    </div>
                    <div class="b-faq__accordion-item">
                        <Accordion client:load accordionItems={faqItems}/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
