---
import Social from './Social.astro';
---

<footer>
    <nav id="social-navigation__nav" class="social-navigation__nav">
        <ul class="social-navigation__list">
            <li class="social-navigation__list-item">
                <Social platform="github" username="melbazany" />
            </li>
            <li class="social-navigation__list-item">
                <Social platform="instagram" username="mel_bazany" />
            </li>
            <li class="social-navigation__list-item">
                <Social platform="instagram" username="m.bee.media" />
            </li>
            <li class="social-navigation__list-item">
                <Social platform="facebook" username="mel.bee.media" />
            </li>
            <li class="social-navigation__list-item">
                <Social platform="facebook" username="melbazany23" />
            </li>
        </ul>
    </nav>
</footer>
