---
import Social from './Social.astro';
---

<footer class="site__footer">
    <nav id="social-navigation__nav" class="social-navigation__nav">
        <ul class="social-navigation__list">
            <li class="social-navigation__list-item social-navigation__list-item--is-parent">
                <div class="social-navigation__sublist-label">M. Bee Media</div>
                <ul class="social-navigation__sublist">
                    <li class="social-navigation__list-item">
                        <Social displayName="Instagram" platform="instagram" username="m.bee.media" />
                    </li>
                    <li class="social-navigation__list-item">
                        <Social displayName="Facebook" platform="facebook" username="mel.bee.media" />
                    </li>
                </ul>
            </li>
            <li class="social-navigation__list-item">
                <Social displayName="Github" platform="github" username="melbazany" />
            </li>
            <li class="social-navigation__list-item">
                <Social displayName="Instagram (Personal)" platform="instagram" username="mel_bazany" />
            </li>
            <li class="social-navigation__list-item">
                <Social displayName="Facebook (Personal)" platform="facebook" username="melbazany23" />
            </li>
        </ul>
    </nav>
</footer>
