---
import BeeLogo from "./BeeLogo.astro";
import MobileMenu from "./MobileMenu.vue";
import Navigation from "./Navigation.astro";

const primaryNavigationItems = [
    {
        title: "Home",
        url: "/"
    },
    {
        title: "About",
        url: "/about/"
    },
    {
        title: "Contact",
        url: "/contact/"
    }
];
---

<header class="site-header">
    <div class="site-header__container">
        <div class="site-header__content">
            <div class="site-header__inner">
                <div class="site-header__inner-content">
                    <BeeLogo/>
                    <Navigation primaryNavigationItems={primaryNavigationItems}/>
                    <MobileMenu client:load primaryNavigationItems={primaryNavigationItems}/>
                </div>
            </div>
        </div>
    </div>
</header>
