<div class="b-jotform-contact-form">
    <div class="b-jotform-contact-form__container">
        <div class="b-jotform-contact-form__content">
            <div class="b-jotform-contact-form__inner">
                <div class="b-jotform-contact-form__inner-content">

                    <div class="b-jotform-contact-form__button-content">
                        <a class="jotform-contact-form__button-link"
                        href="javascript:void(
                        window.open(
                            'https://form.jotform.com/250006518515045',
                            'blank',
                            'scrollbars=yes,
                            toolbar=no,
                            width=700,
                            height=800'
                        )
                        )
                        ">
                        Launch Contact Form
                        </a>
                        <a class="jotform-contact-form__button-link" href="https://mbeemedia.pic-time.com/portfolio" target="_blank" rel="noopener noreferrer nofollow">View recent galleries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
