---
import { Image } from "astro:assets";
import mightyGraphicBlackWhite from '../../src/images/MightyInTheMidwestSiteGraphicBlobBlackWhite.jpg';
import mightyGraphicColor from '../../src/images/MightyInTheMidwestSiteGraphicBlobColor.jpg';
---

<div class="b-text-and-image__image-item-content">
    <Image src={mightyGraphicColor} class="b-text-and-image__image b-text-and-image__image--color" alt="Mighty in The Midwest wordmark overlayed swirling wavy texture in color" width="600"/>
    <Image src={mightyGraphicBlackWhite} class="b-text-and-image__image b-text-and-image__image--black-white" alt="Mighty in The Midwest wordmark overlayed black and white swirling wavy texture" width="600"/>
</div>
