<nav class="site-header__nav" id="site-header__nav">
    <ul class="site-header__nav-list">
        <li class="site-header__nav-list-item">
            <a class="site-header__nav-link" href="/">Home</a>
        </li>
        <li class="site-header__nav-list-item">
            <a class="site-header__nav-link" href="/about/">About</a>
        </li>
        <li class="site-header__nav-list-item">
            <a class="site-header__nav-link" href="/blog/">Blog</a>
        </li>
        <li class="site-header__nav-list-item">
            <a class="site-header__nav-link" href="/tags/">Tags</a>
        </li>
    </ul>
</nav>
