---
const {primaryNavigationItems} = Astro.props;
---

<nav class="site-header__navigation" id="site-header__navigation">
    <ul class="site-header__navigation-list">
        {primaryNavigationItems.map((item) => (
            <li class="site-header__navigation-list-item">
                <a class="site-header__navigation-link" href={item.url}>{item.title}</a>
            </li>
        ))}
    </ul>
</nav>
