---
const {
    secondaryIntroHeading,
    secondaryIntroSubheading,
    secondaryIntroBodyText,
    isHomepage,
} = Astro.props;

const currentPath = Astro.url.pathname;
---

<div class="b-secondary-intro">
    <div class="b-secondary-intro__container">
      <div class="b-secondary-intro__content">
        <div class="b-secondary-intro__inner">
          <div class="b-secondary-intro__inner-content">
            <div class={`b-secondary-intro__text-content ${isHomepage ? '--is-homepage' : ''}`}>
              <h2 class="b-secondary-intro__secondary-heading">
                {secondaryIntroHeading}
              </h2>
              {secondaryIntroSubheading != null && secondaryIntroSubheading.length > 0 ? (
                <div class="b-secondary-intro__subheading">
                  {secondaryIntroSubheading}
                </div>
              ) : null}
              {secondaryIntroBodyText != null && secondaryIntroBodyText.length > 0 ? (
                <div class="b-secondary-intro__body-text">
                {secondaryIntroBodyText.map(paragraph => (
                    <p set:html={paragraph}></p>
                  ))}
              </div>
              ) : null}
            </div>
            {currentPath != '/contact/' && currentPath != '/contact'
            ? (
                <div class="b-secondary-intro__button-content">
                    <a href="/contact" class="b-secondary-intro__contact-button">Contact Me</a>
                    <a href="/contact" class="b-secondary-intro__contact-button">Inquire About Photography</a>
                </div>)
            : null}
          </div>
        </div>
      </div>
    </div>
  </div>
