---
const { platform, username } = Astro.props;
---
<a class="social-navigation__link" href={`https://www.${platform}.com/${username}`} rel="external noopener noreferrer">
    {platform === "facebook" ? (
      <svg role="img" aria-label="Facebook logo icon" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.4657 0.0952148C5.60788 0.0952148 0 5.94647 0 13.0826C0 19.5155 4.4913 24.8372 10.4075 25.9397C10.4075 25.9397 10.4658 25.8876 10.4825 25.8789C10.4825 25.8789 10.4825 25.8789 10.4742 25.8789V16.7201H7.35774V13.0826H10.4742V10.2264C10.4742 6.97956 12.4657 5.16515 15.3404 5.16515C16.2154 5.16515 17.2069 5.29537 18.0819 5.42559V8.7332H16.4653C14.9655 8.7332 14.5905 9.51452 14.5905 10.5563V13.0913H17.8986L17.3403 16.7288H14.5988V25.8876C14.5988 25.8876 14.5238 25.8963 14.4822 25.905L14.5405 25.9571C20.465 24.8545 24.948 19.5242 24.948 13.0999C24.9313 5.94647 19.3234 0.0952148 12.4657 0.0952148Z" fill="white"></path>
      </svg>
    ) : platform === "instagram" ? (
      <svg role="img" aria-label="Instagram logo icon" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.12124 13.0308C9.12124 10.6347 10.9794 8.68139 13.2792 8.68139C15.5791 8.68139 17.4456 10.6173 17.4539 13.0134C17.4539 15.4095 15.5957 17.3541 13.2959 17.3628C10.9961 17.3628 9.12957 15.4268 9.12124 13.0308ZM6.87142 13.0308C6.87142 16.7204 9.75452 19.7068 13.3042 19.7068C16.8456 19.7068 19.7204 16.703 19.712 13.0047C19.712 9.31513 16.8289 6.32005 13.2792 6.32873C9.73785 6.32873 6.86309 9.33249 6.87142 13.0308ZM18.4455 6.05961C18.4455 6.91907 19.1204 7.62226 19.9454 7.62226C20.7703 7.62226 21.4452 6.91907 21.4452 6.05961C21.4452 5.20015 20.7703 4.49696 19.9454 4.49696C19.1204 4.49696 18.4455 5.20015 18.4455 6.05961ZM8.25464 23.6307C7.03807 23.5787 6.37146 23.3616 5.92983 23.188C5.34654 22.9536 4.92991 22.6671 4.48828 22.2157C4.04665 21.7642 3.78 21.3302 3.55502 20.7225C3.38003 20.2624 3.18005 19.5765 3.12172 18.309C3.05506 16.9374 3.04673 16.5207 3.03839 13.0481C3.03839 9.57557 3.03839 9.15887 3.10505 7.78721C3.15505 6.51972 3.36337 5.82521 3.53002 5.37378C3.755 4.76608 4.02998 4.33201 4.46328 3.8719C4.89658 3.41179 5.31321 3.13398 5.8965 2.89958C6.33813 2.71727 6.99641 2.50892 8.21298 2.44815C9.52954 2.3787 9.92951 2.37002 13.2626 2.36134C16.5956 2.36134 16.9956 2.36134 18.3122 2.42211C19.5287 2.4742 20.1953 2.69123 20.637 2.86486C21.2203 3.09926 21.6369 3.37706 22.0785 3.83717C22.4777 4.29303 22.7859 4.70797 22.9951 5.21539C23.1317 5.69804 23.3088 6.50349 23.3672 7.86839C23.433 9.24091 23.433 9.65372 23.3672 13.0455C23.3672 16.4171 23.433 16.8299 23.3105 18.2015C23.2605 18.7799 23.0516 19.4723 22.6612 19.8722C22.2657 20.2712 21.6075 20.4371 20.9336 20.3777C19.7865 20.3457 19.3752 20.3353 16.8912 20.3457C13.4066 20.3353 12.9502 20.3353 12.9502 20.3457C11.4695 20.3457 9.20688 20.4212 8.25464 23.6307Z" fill="white"></path>
      </svg>
    ) : platform === "linkedin" ? (
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Layer_1" viewBox="0 0 310 310" xml:space="preserve">
        <g id="XMLID_801_">
            <path id="XMLID_802_" d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73   C77.16,101.969,74.922,99.73,72.16,99.73z"/>
            <path id="XMLID_803_" d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4   c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z"/>
            <path id="XMLID_804_" d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599   c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319   c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995   C310,145.43,300.549,94.761,230.454,94.761z"/>
        </g>
        </svg>
    ) : platform === "github" ? (
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#1B1F23"/>
        </svg>
    )
    : null}
  </a>
