---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/app.css';

const { introTitle, introSubtitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="site__body">
            <Header/>
            <main>
                <div class="b-intro">
					<div class="b-intro__container">
						<div class="b-intro__content">
							<div class="b-intro__inner">
								<div class="b-intro__inner-content">
									<h1 class="b-intro__title">{introTitle}</h1>
									<h2 class="b-intro__subtitle">{introSubtitle}</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
                <slot/>
            </main>
            <Footer/>
        </div>
	</body>
</html>
